@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, "sans-serif";
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

.circle1,
.circle2 {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  position: absolute;
  z-index: 1;
}

.circle1 {
  top: 10%;
  right: 15%;
}

.circle2 {
  bottom: 0;
  left: 8%;
}

.App {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #658ec6;
}

.board {
  width: 50%;
  height: auto;
  margin: 20px 0px;
}

.boardRow {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.square {
  border: 0;
  border-left: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(1rem);
  width: 100%;
  height: 190px;
  margin: 2px;
  z-index: 2;
  outline: none;
  display: inline;
  position: relative;
}

.styleX {
  content: "\273c";
  color: white;
  backdrop-filter: blur(1rem);
  /* margin: 5px; */
  font-size: 6rem;
  text-align: center;
  z-index: 2;
}

.styleO {
  content: "";
  color: black;
  font-size: 6rem;
  z-index: 2;
}

.status {
  color: rgb(247, 247, 247);
  font-size: 4rem;
  font-style: italic;
  z-index: 2;
}

@media screen and (max-width: 780px) {
  .board {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .board {
    width: 80%;
  }
}
